<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Таблица</title>
    <style>
        table {
            width: auto; /* Меняем на auto для автоматической ширины */
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        th, td {
            border: 1px solid #000;
            padding: 8px;
            text-align: left;
            white-space: nowrap; /* Предотвращаем перенос текста */
        }
        th {
            background-color: #f2f2f2;
        }

    </style>
</head>
<body>

<h2>Печатник</h2>
<p>Ваша роль</p>
<p>Возможность редактирования</p>

<table>
    <thead>
        <tr>
            <th rowspan="2" class="num-item">№ п/п</th>
            <th rowspan="2" class="task-number">№ задачи</th>
            <th rowspan="2" class="date">Дата</th>
            <th rowspan="2" class="subject">Сюжет</th>
            <th rowspan="2" class="material">Материал</th>
            <th colspan="2" class="header-cell">ПОЛЕ ПЕЧАТИ</th>
            <th colspan="2" class="header-cell">ПОЛОТНО</th>
            <th colspan="3" class="header-cell">ДОП ОПЕРАЦИИ</th>
            <th rowspan="2" class="quantity">Кол-во</th>
            <th rowspan="2" class="executor">Исполнитель</th>
        </tr>
        <tr>
            <th class="print-width">ширина (м)</th>
            <th class="print-height">высота (м)</th>
            <th class="canvas-width">ширина (м)</th>
            <th class="canvas-length">длина (м)</th>
            <th class="eyelets">Люверсы</th>
            <th class="spike">Спайка</th>
            <th class="reinforcement">Усиление</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="num-item">1</td>
            <td class="task-number">001</td>
            <td class="date">2024-09-13</td>
            <td class="subject">Пример сюжета</td>
            <td class="material">ПВХ</td>
            <td class="print-width">2</td>
            <td class="print-height">1.5</td>
            <td class="canvas-width">2.0</td>
            <td class="canvas-length">3.0</td>
            <td class="eyelets">5</td>
            <td class="spike">Да</td>
            <td class="reinforcement">Нет</td>
            <td class="quantity">10</td>
            <td class="executor">Иванов И.И.</td>
        </tr>
    </tbody>
</table>

<h2>Менеджер</h2>
<p>Ваша роль</p>
<p>Возможность редактирования</p>

<table>
    <thead>
        <tr>
            <th rowspan="2" class="num-item">№ п/п</th>
            <th rowspan="2" class="task-number">№ задачи</th>
            <th rowspan="2" class="date">Дата</th>
            <th rowspan="2" class="subject">Сюжет</th>
            <th rowspan="2" class="material">Материал</th>
            <th colspan="2" class="header-cell">РАЗМЕР</th>
            <th colspan="3" class="header-cell">ДОП ОПЕРАЦИИ</th>
            <th rowspan="2" class="quantity">Кол-во</th>
            <th rowspan="2" class="customer">Заказчик</th>
            <th rowspan="2" class="price">Цена за ед</th>
            <th rowspan="2" class="total">Сумма</th>
        </tr>
        <tr>
            <th class="size-width">ширина (м)</th>
            <th class="size-height">высота (м)</th>
            <th class="eyelets">Люверсы</th>
            <th class="spike">Спайка</th>
            <th class="reinforcement">Усиление</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="num-item">1</td>
            <td class="task-number">002</td>
            <td class="date">2024-09-14</td>
            <td class="subject">Другой сюжет</td>
            <td class="material">Полиэстер</td>
            <td class="size-width">2.5</td>
            <td class="size-height">1.2</td>
            <td class="eyelets">4</td>
            <td class="spike">Да</td>
            <td class="reinforcement">Да</td>
            <td class="quantity">20</td>
            <td class="customer">Петров П.П.</td>
            <td class="price">150</td>
            <td class="total">3000</td>
        </tr>
    </tbody>
</table>


<h2>Админ</h2>
<p>Ваша роль</p>
<p>Возможность редактирования</p>

<h2>Результат</h2>

<table border="1">
    <thead>
        <tr>
            <th>№ п/п</th>
            <th>№ задачи</th>
            <th>Дата</th>
            <th>Материал</th>
            <th>Печати (кв.м)</th>
            <th>Полотна (кв.м)</th>
            <th>Краски (л)</th>
            <th>Люверсов (шт)</th>
            <th>Спайки (п.м)</th>
            <th>Усиления (кв.м)</th>
            <th>Полотна</th>
            <th>Краски</th>
            <th>Люверсов</th>
            <th>Усиления</th>
            <th>ЗП печатнику</th>
            <th>ЗП люверсам</th>
            <th>ЗП резчика</th>
            <th>ЗП пайщика</th>
            <th>Сумма затрат (руб)</th>
            <th>Сумма продажи (руб)</th>
            <th>Налог (5%)</th>
            <th>Маржа (без ЗП, амморт, коммуналка)</th>
            <th>Печатник</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td></td>
            <td>01.09.2024</td>
            <td>Баннер литой 450гм</td>
            <td>216,00</td>
            <td>238,08</td>
            <td>3,24</td>
            <td>819</td>
            <td></td>
            <td></td>
            <td>33718,08</td>
            <td>3839,40</td>
            <td>1139,01</td>
            <td></td>
            <td>4320</td>
            <td>4097</td>
            <td></td>
            <td></td>
            <td>47114</td>
            <td>62400</td>
            <td>3120</td>
            <td>12166,37</td>
            <td>Константин</td>
        </tr>
    </tbody>
</table>



<h2>Настройки</h2>

<table>
    <thead>
        <tr>
            <th>Материалы</th>
            <th>Цена на кв.м</th>
            <th>Ширина (м)</th>
            <th>Длина (м)</th>
            <th>Стоимость рулона</th>
            <th>Примечание</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Блюбэк</td>
            <td>46,20</td>
            <td>1,58</td>
            <td>300</td>
            <td>21900</td>
            <td>с НДС</td>
        </tr>
        <tr>
            <td>Баннер литой 450гм</td>
            <td>141,63</td>
            <td>3,2</td>
            <td>50</td>
            <td>22660</td>
            <td>с НДС</td>
        </tr>
        <tr>
            <td>Баннер ламинат 440гм</td>
            <td>86,91</td>
            <td>3,2</td>
            <td>50</td>
            <td>13905</td>
            <td>с НДС</td>
        </tr>
        <tr>
            <td>Сетка</td>
            <td>108,91</td>
            <td>3,2</td>
            <td>50</td>
            <td>17425</td>
            <td>с НДС</td>
        </tr>
    </tbody>
</table>

<table>
    <thead>
        <tr>
            <th>Комплектующие</th>
            <th>Цена (шт)</th>
            <th>Примечание</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Люверс</td>
            <td>1,39</td>
            <td>с НДС</td>
        </tr>
    </tbody>
</table>

<table>
    <thead>
        <tr>
            <th>Краска</th>
            <th>Цена (л)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Стоимость литра</td>
            <td>1185</td>
        </tr>
        <tr>
            <td>Расход (л)</td>
            <td>0,015</td>
        </tr>
        <tr>
            <td>Цена за кв.м печати</td>
            <td>17,775</td>
        </tr>
    </tbody>
</table>

<table>
    <thead>
        <tr>
            <th>Доп опция</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Да</td>
        </tr>
        <tr>
            <td>Нет</td>
        </tr>
    </tbody>
</table>

<table>
    <thead>
        <tr>
            <th>Шаг люверса (м)</th>
            <th>Значение</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Шаг люверса</td>
            <td>0,28</td>
        </tr>
    </tbody>
</table>

<table>
    <thead>
        <tr>
            <th>Исполнитель</th>
            <th>Имя</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Исполнитель 1</td>
            <td>Константин</td>
        </tr>
        <tr>
            <td>Исполнитель 2</td>
            <td>Артем</td>
        </tr>
    </tbody>
</table>

<table>
    <thead>
        <tr>
            <th>Услуга</th>
            <th>Ставка</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Ставка печатника за кв.м</td>
            <td>20</td>
        </tr>
        <tr>
            <td>Ставка за люверс</td>
            <td>5</td>
        </tr>
        <tr>
            <td>Ставка резчика (за кв.м)</td>
            <td>2,78</td>
        </tr>
        <tr>
            <td>Ставка пайщика</td>
            <td>50</td>
        </tr>
</table>

</body>
</html>
