{% extends "layout.html" %}

{% block title %}Главная страница{% endblock %}

{% block manager %}
<div class="content">
    <h1>Менеджер - Заказы</h1>
    <!--    <button class="btn btn-warning mt-3">Редактировать</button>-->
    <table class="table table-bordered mt-4">
        <thead class="thead-light">
        <tr>
            <th rowspan="2">№ п/п</th>
            <th rowspan="2">№ задачи</th>
            <th rowspan="2">Дата</th>
            <th rowspan="2">Сюжет</th>
            <th rowspan="2">Материал</th>
            <th colspan="2">РАЗМЕР</th>
            <th colspan="3">ДОП ОПЕРАЦИИ</th>
            <th rowspan="2">Кол-во</th>
            <th rowspan="2">Заказчик</th>
            <th rowspan="2">Цена за ед</th>
            <th rowspan="2">Сумма</th>
            <th rowspan="2">Редактировать</th>
        </tr>
        <tr>
            <th>Ширина</th>
            <th>Высота</th>
            <th>Люверсы</th>
            <th>Спайка</th>
            <th>Усиление</th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.task_number }}</td>
            <td>{{ order.date.strftime("%d.%m.%Y") }}</td>
            <td>{{ order.subject }}</td>
            <td>{{ order.material }}</td>
            <td>{{ order.print_width }}</td>
            <td>{{ order.print_height }}</td>
            <td>{{ order.eyelets }}</td>
            <td>{{ order.spike }}</td>
            <td>{{ order.reinforcement }}</td>
            <td>{{ order.quantity }}</td>
            <td>{{ order.customer }}</td>
            <td>{{ order.price_per_unit }}</td>
            <td>{{ order.total_amount }}</td>
            <td>
                <button class="btn btn-warning mt-3 edit-btn" data-id="{{ order.id }}"
                        data-toggle="modal" data-target="#orderModal">Редактировать
                </button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
<!-- Модальное окно -->
<div class="modal" id="orderModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="border: 2px solid #007bff; border-radius: 15px; padding: 20px;">
            <div class="modal-header">
                <h5 class="modal-title">Изменить заказ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="orderForm" action="/orders/update" method="POST" style="display: flex; flex-wrap: wrap;">
                    <div class="row">
                        {% for order in orders %}
                        <div class="col-md-12 form-group">
                            Текущий ID заказа: <span id="current-order-id">{{ order.id }}</span>
                        </div>
                        {% endfor %}
                        <input type="hidden" name="order_id" id="order_id" />

                        <div class="col-md-12 form-group">
                            <label for="customer">Заказчик</label>
                            <input type="text" class="form-control" id="customer" name="customer" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="price_per_unit">Цена за ед.</label>
                            <input type="number" class="form-control" id="price_per_unit" name="price_per_unit" step="1" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="total_amount">Сумма</label>
                            <input type="number" class="form-control" id="total_amount" name="total_amount" step="1" required>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <button type="submit" class="btn btn-primary" form="orderForm">Ок</button>
            </div>
        </div>
    </div>
</div>

<script>
    // JavaScript для открытия модального окна
    $(document).ready(function() {
        $(document).on('click', '.edit-btn', function() {
            var orderId = $(this).data('id');
            $('#current-order-id').text(orderId);
            $('#order_id').val(orderId);
            $('#orderModal').modal('show'); // Показываем модальное окно
        });
    });
</script>



{% endblock %}