{% extends "layout.html" %}

{% block title %}Настройки{% endblock %}
{% block settings %}

<div class="container mt-5">
    <h1 class="text-center">Настройки</h1>
    {% if settings %}
    <table class="table table-bordered">
        <button class="btn btn-warning mt-3" data-toggle="modal" data-target="#editSettingsModal">
            Редактировать
        </button>
        <thead>
        <tr>
            <th>Опция</th>
            <th>Значение</th>
        </tr>
        </thead>
        <tbody>
        {% for setting in settings %}
        <tr>
            <td>Обновление</td>
            <td>{{ setting.updated_at.strftime("%d.%m.%Y") }}</td>
        </tr>
        <tr>
            <td>Цена м² блюбэка</td>
            <td>{{ setting.blueback_price_m2 }}</td>
        </tr>
        <tr>
            <td>Цена м² баннера литого 450г</td>
            <td>{{ setting.banner_molded_price_m2 }}</td>
        </tr>
        <tr>
            <td>Цена м² баннера ламинат 440г</td>
            <td>{{ setting.banner_laminated_price_m2 }}</td>
        </tr>
        <tr>
            <td>Цена м² сетки</td>
            <td>{{ setting.mesh_price_m2 }}</td>
        </tr>
        <tr>
            <td>Стоимость рулона блюбэка</td>
            <td>{{ setting.blueback_price_roll }}</td>
        </tr>
        <tr>
            <td>Стоимость рулона баннера литого 450г</td>
            <td>{{ setting.banner_molded_price_roll }}</td>
        </tr>
        <tr>
            <td>Стоимость рулона баннера ламинат 440г</td>
            <td>{{ setting.banner_laminated_price_roll }}</td>
        </tr>
        <tr>
            <td>Стоимость рулона сетки</td>
            <td>{{ setting.mesh_price_roll }}</td>
        </tr>
        <tr>
            <td>Шаг люверса (м)</td>
            <td>{{ setting.eyelet_step }}</td>
        </tr>
        <tr>
            <td>Цена люверса шт</td>
            <td>{{ setting.eyelet_price }}</td>
        </tr>
        <tr>
            <td>Цена литра краски</td>
            <td>{{ setting.paint_price_liter }}</td>
        </tr>
        <tr>
            <td>Расход краски на м²</td>
            <td>{{ setting.paint_consumption_m2 }}</td>
        </tr>
        <tr>
            <td>Цена печати за м²</td>
            <td>{{ setting.print_price_m2 }}</td>
        </tr>
        <tr>
            <td>Ставка печатника за м²</td>
            <td>{{ setting.printer_rate_m2 }}</td>
        </tr>
        <tr>
            <td>Ставка за люверс</td>
            <td>{{ setting.eyelet_rate }}</td>
        </tr>
        <tr>
            <td>Ставка резчика за м²</td>
            <td>{{ setting.cutter_rate_m2 }}</td>
        </tr>
        <tr>
            <td>Ставка пайщика</td>
            <td>{{ setting.payer_rate }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <table class="table table-bordered">
        <tr>
            <td colspan="2">Нет доступных настроек</td>
        </tr>
    </table>
    {% endif %}
</div>

<!-- Модальное окно для редактирования настроек -->
<div class="modal fade" id="editSettingsModal" tabindex="-1" role="dialog" aria-labelledby="editSettingsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST" action="{{ url_for('create_settings') }}">
                <div class="modal-header">
                    <h5 class="modal-title" id="editSettingsModalLabel">Редактировать Настройки</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Поля для редактирования настроек -->
                    <div class="form-group">
                        <label for="blueback_price_m2">Цена м² блюбэка</label>
                        <input type="number" step="0.01" class="form-control" id="blueback_price_m2" name="blueback_price_m2" value="{{ setting.blueback_price_m2 }}" required>
                    </div>
                    <div class="form-group">
                        <label for="banner_molded_price_m2">Цена м² баннера литого</label>
                        <input type="number" step="0.01" class="form-control" id="banner_molded_price_m2" name="banner_molded_price_m2" value="{{ setting.banner_molded_price_m2 }}" required>
                    </div>
                    <!-- Добавьте аналогичные поля для других настроек -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
