    <div class="sidebar">
        <h2>Меню</h2>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="/manager">Менеджеру</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/printer">Печатнику</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/results">Результаты</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin">Панель администратора</a>
            </li>
        </ul>
    </div>