{% extends "layout.html" %}

{% block title %}Сводная таблица{% endblock %}

{% block summary %}
<div class="container mt-4">
    <h1>Сводная - Материалы</h1>

    <!-- Фильтры для материалов -->
    <div class="form-group">
        <label for="startDateMaterial">Начальная дата:</label>
        <input type="date" id="startDateMaterial" class="form-control">
    </div>
    <div class="form-group">
        <label for="endDateMaterial">Конечная дата:</label>
        <input type="date" id="endDateMaterial" class="form-control">
    </div>
    <div class="form-group">
        <label for="materialFilter">Выберите материал:</label>
        <select id="materialFilter" class="form-control">
            <option>Все</option>
            <option>Доска</option>
            <option>Бетон</option>
            <option>Песок</option>
        </select>
    </div>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th rowspan="2">Дата</th>
            <th rowspan="2">Материал</th>
            <th colspan="3" class="text-center">Расход</th>
            <th rowspan="2">Стоимость</th>
        </tr>
        <tr>
            <th>м²</th>
            <th>л</th>
            <th>шт</th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
        <tr>
            <td>{{ order.date.strftime("%d.%m.%Y") }}</td>
            <td>{{ order.material }}</td>
            <td>{{ order.result.total_canvas_area }}</td>
            <td>{{ order.result.total_paints }}</td>
            <td>{{ order.result.total_eyelets }}</td>
        </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td><strong>Итого:</strong> C Начальная дата по Конечная дата</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>

        </tr>
        </tfoot>
    </table>

    <h1>Сводная - Менеджеры</h1>

    <!-- Фильтры для менеджеров -->
    <div class="form-group">
        <label for="startDateManager">Начальная дата:</label>
        <input type="date" id="startDateManager" class="form-control">
    </div>
    <div class="form-group">
        <label for="endDateManager">Конечная дата:</label>
        <input type="date" id="endDateManager" class="form-control">
    </div>
    <div class="form-group">
        <label for="managerFilter">Выберите менеджера:</label>
        <select id="managerFilter" class="form-control">
            <option>Все</option>
            <option>Артем</option>
            <option>Константин</option>
        </select>
    </div>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Дата</th>
            <th>Менеджер</th>
            <th>Печати м²</th>
            <th>ЗП</th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
        <tr>
            <td>{{ order.date.strftime("%d.%m.%Y") }}</td>
            <td>{{ order.performer }}</td>
            <td>{{ order.total_print_area }}</td>
            <td>{{ order.total_print_area }} * {{ settings.printer_rate_m2 }}</td>
        </tr>
        {% else %}
        <tr>
            <td colspan="4">Данные отсутствуют</td>
        </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td><strong>Итого:</strong> C Начальная дата по Конечная дата</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tfoot>
    </table>
</div>
{% endblock %}
